body{ 
    margin: 0px;
    background-color: black; 
    }
    
    p{ 
        color: antiquewhite; 
        padding: 10px; 
        width: 300px; 
        border: solid antiquewhite 5px; 
        border-radius: 10px; 
        font-style: normal; 
        font-weight: bold; 
        position: relative; 
        left: 470px; 
    } 
    
    #japanFlag{ 
        width: 450px; 
        height: 300px; 
        background-color: white; 
        position: relative;
        margin: 30px; 
    } 
    
    #redCircle{ 
        width: 180px; 
        height: 180px; 
        background-color: rgb(234, 19, 19); 
        border-radius: 100%; 
        position: absolute; 
        left: 135px; 
        top: 60px; 
    }